*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.hover-ef:hover {
  transform: translateY(-4px);
  transition: 0.25s all ease-in-out;
}
